# --- Pliki wykonywalne i biblioteki dynamiczne ---
*.exe
*.out
*.app
*.dll
*.so
*.so.*
*.dylib

# --- Skompilowane pliki obiektowe i biblioteki statyczne ---
*.o
*.obj
*.slo
*.lo
*.a
*.lib
*.lai
*.la
*.core
core
!core/

# --- Prekompilowane nagłówki i zależności ---
*.d
*.gch
*.pch
*_pch.h.cpp

# --- Pliki generowane przez Qt i QMake ---
*.moc
moc_*.cpp
ui_*.h
qrc_*.cpp
*.qm
*.prl
Makefile*
/.qmake.cache
/.qmake.stash
*_resource.rc
*.res
*.rc

# --- Pliki konfiguracyjne Qt Creatora i IDE ---
*.pro.user*
*.qbs.user*
CMakeLists.txt.user*
*.autosave
*~
*.orig
*.rej
.#*
*.*#

# --- Pliki generowane przez MinGW ---
*.Debug
*.Release
*.debug

# --- Foldery (Katalogi budowania) ---
.moc/
.obj/
.pch/
.rcc/
.uic/
/build*/

# --- Pliki systemowe (Windows/Mac/Linux) i tymczasowe ---
.DS_Store
.directory
Thumbs.db
*.swp
.*.swp
*.flc
tags

# --- Pliki Visual Studio (gdybyś kiedyś odpalił projekt w VS) ---
*.ib_pdb_index
*.idb
*.ilk
*.pdb
*.sln
*.suo
*.vcproj
*vcproj.*.*.user
*.ncb
*.sdf
*.opensdf
*.vcxproj
*vcxproj.*

# --- Inne (Python/Fortran) ---
*.pyc
*.mod
*.smod